.bigBtn {
  background: #155a9e;
  border-radius: 8px;
  padding: 12px 32px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;

  &.light {
    background: rgba(219, 236, 248, 0.3);
    color: var(--black-main);
    &:hover {
      background: rgba(219, 236, 248, 0.4);
    }
  }

  &:hover {
    background: #124f8c;
  }
  &:disabled,
  &:hover {
    background: #7285a7;
  }

  @media (max-width: 767px) {
    padding: 11px;
    font-size: 16px;
  }
}
