.root {
  display: flex;
  align-items: center;
}

.label {
  font-weight: 500;
  font-size: 14px;
  margin-right: 8px;
}

.switcher {
  background: #EEF0F6;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: -4px -4px 16px rgba(255, 255, 255, 0.25), 4px 4px 8px rgba(66, 83, 107, 0.09), inset 0px -4px 14px #FFFFFF, inset 0px 2px 6px rgba(66, 83, 107, 0.22);
  border-radius: 8px;
  padding: 1px;
  height: 24px;
  width: 42px;
  cursor: pointer;
}

.dot {
  all: unset;
  width: 50%;
  height: calc(100% - 2px);
  background: #EEF0F5;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15), 6px 6px 36px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s;
}

.activeDot {
  transform: translateY(-50%) translateX(90%);
}

.dotWrapper {
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: all .3s;
  position: relative;
}

.activeDotWrapper {
  background: #155A9E;
  box-shadow: inset 0 2px 6px rgba(66, 83, 107, 0.22);
}
