.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 30px 10px;

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}