.pModal {
  padding: 30px;
  background: #FFFFFF;
  border-radius: 8px;
  //width: 1220px;
  z-index: 3;
  max-width: 90%;
  margin: auto;

  @media (max-width: 767px) {
    padding: 10px;
    max-width: 99%;
  }

  &__close {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 15px;
    display: flex;
    font-size: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(4px);
    border-radius: 8px;

    @media (max-width: 1200px) {
      top: 10px;
      font-size: 15px;
      right: 10px;
      padding: 10px;
    }

    @media (max-width: 767px) {
      padding: 10px;
    }

    @media (max-width: 576px) {
      padding: 5px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__img {
    width: 100%;
    position: relative;
    margin-bottom: 28px;

    img {
      width: 100%;
      margin: auto;
      height: available;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__date {
    font-weight: 400;
    font-size: 26px;
    color: var(--grey-secondary);
  }

  &__title {
    font-weight: 600;
    font-size: 26px;
    color: #03053D;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}