.photoElement {
  position: relative;
  max-width: 100%;
  border-radius: 24px 24px 0 0 ;
  overflow: hidden;
  cursor: pointer;
  background-color: #ccc;

  @media (max-width: 992px) {
    border-radius: 12px 12px 0 0;
  }

  @media (max-width: 767px) {
    border-radius: 6px 6px 0 0;
  }

  &__img {
    //width: 420px;
    //height: 260px;
  }

  &__title {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    text-overflow: ellipsis;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
    font-size: 23px;
    }

    @media (max-width: 767px) {
      font-size: 20px ;
      padding: 0 10px;
      text-align: center;
    }

    @media (max-width: 576px) {
      font-size: 18px;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}