.fromPhoto {
  position: relative;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 1;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__wrap {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
    height: 100%;

    &:hover {
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.35);
    }
  }

  &__upload {
    margin-left: 16px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
    align-self: stretch;
    width: 72px;
    padding: 18px;

    &:hover {
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.35);
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }


  &__el1 {
    padding: 20px 20px 20px 70px;
    display: block;
    border-radius: 8px;
    position: relative;
    cursor: text;

    &::before {
      position: absolute;
      height: 50%;
      top: 50%;
      background-color: rgba(170, 177, 197, 0.4);
      width: 2px;
      transform: rotate(90deg) translateY(-50%);
    }

    svg {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 32px;
    }

    input {
      width: 340px;
      font-weight: 500;
      font-size: 17px;
      border-right: 2px solid rgba(170, 177, 197, 0.4);

      &::placeholder {
        color: var(--grey-secondary);
      }
    }
  }

  &__el2 {
    cursor: pointer;
    padding: 20px 20px 20px 12px;
    display: block;
    border-radius: 8px;
    position: relative;
  }
}

.f-p {
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all .3s ease-out;

  &.active {
    visibility: visible;
    overflow: auto;
    max-height: 1000px;
  }

  &__photoWrap {
    display: flex;
    max-width: 100%;
    overflow: auto;
  }

  &__results {
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
  }

  &__photos {
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
    min-height: 72px;
    padding: 12px 32px;
    margin-bottom: 8px;
  }

  &__wrapper {

  }
}

.f-pPhoto {
  &__item {
    border-radius: 8px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;

    &:not(:last-child) {
      margin-right: 18px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.f-p-results {
  padding: 20px 32px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
    cursor: auto;

    svg, path {
      fill:  rgba(3, 5, 61, 0.2);
    }
  }

  &__item {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.f-i {
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 0;
  width: 100%;
  position: absolute;
  top: calc(100% + 24px);
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease-out;

  &.active {
    padding: 20px;
    overflow: auto;
    max-height: 10000px;
  }

  &__imageName {
    padding: 20px;
  }

  &__wrapUploaded {
    border: 2px dashed rgba(170, 177, 197, 0.4);
    min-height: 400px;
  }

  &__uploaded {
    padding: 38px 50px;
    max-width: 100%;
    display: block;
    margin: auto;
    max-height: 100%;
    height: 500px;
  }

  &__btnWrap {
    text-align: center;
  }

  &__searchBtn {
    margin-bottom: 20px;
  }

  &__uploadBox {
    border: 2px dashed rgba(170, 177, 197, 0.4);
    min-height: 400px;
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    color: #96A0B5;
  }

  &__types {
    margin-top: 18px;
    color: #96A0B5;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
}

.f-date {
  position: absolute;
  background-color: #fff;
  right: 20px;
  top: calc(100% + 24px);
}

.datePicker {
  display: flex;
  align-items: center;

  &__name {
    font-size: 17px;
    color: var(--grey-secondary);
    margin-right: 50px;
  }
}