.fromPhoto {
  position: relative;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 1;

  @media (max-width: 767px) {
    flex-direction: column;
    height: 46px;
    width: 100%;
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__wrap {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
    height: 100%;
    transition: all 0.3s;
    font-size: 17px;

    @media (max-width: 767px) {
      font-size: 14px;
      width: 100%;
    }

    &:hover {
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    }
  }

  &__btn {
    height: 100%;
    margin-left: 16px;
    font-weight: 600;
    font-size: 17px;

    @media (max-width: 992px) {
      position: absolute;
      margin-top: 10px;
      top: 100%;
      right: 0;

      &.active {
        z-index: 20;
        margin: 0 0 0 0;
        right: 0;
        top: calc(-100% + -10px);
      }
    }

    @media (max-width: 767px) {
      margin-top: 20px;
      right: 60px;

      &.active {
        right: 0;
      }
    }
  }

  &__upload {
    margin-left: 16px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
    align-self: stretch;
    width: 72px;
    height: 72px;
    padding: 18px;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    }
    svg {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 1200px) {
      width: 46px;
      height: 46px;
      padding: 10px;
    }

    @media (max-width: 767px) {
      margin: 0;
      position: absolute;
      right: 0;
      top: calc(100% + 20px);
    }
  }

  &__el1 {
    padding: 20px 10px 20px 70px;
    display: block;
    border-radius: 8px;
    position: relative;
    cursor: text;

    @media (max-width: 1200px) {
      padding: 10px 10px 10px 52px;
    }

    @media (max-width: 767px) {
      padding: 10px 10px 10px 40px;
      flex-basis: 90%;
    }

    @media (max-width: 576px) {
    }

    @media (max-width: 375px) {
      padding: 10px;
      svg {
        display: none;
      }
    }

    &::before {
      position: absolute;
      height: 50%;
      top: 50%;
      background-color: rgba(170, 177, 197, 0.4);
      width: 2px;
      transform: rotate(90deg) translateY(-50%);
    }

    svg {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;

      @media (max-width: 767px) {
        left: 10px;
      }
    }

    input {
      width: 340px;
      font-weight: 500;
      font-size: inherit;

      @media (max-width: 767px) {
        width: unset;
      }

      &::placeholder {
        font-size: inherit;
        color: var(--grey-secondary);
      }
    }
  }

  &__el2 {
    cursor: pointer;
    padding: 20px 20px 20px 32px;
    display: block;
    border-radius: 8px;
    position: relative;
    font-size: inherit;

    @media (max-width: 1200px) {
      padding: 10px 10px 10px 32px;
    }

    @media (max-width: 767px) {
      min-width: 170px;
      flex-basis: unset;
    }

    @media (max-width: 576px) {
      padding: 10px;
      min-width: 135px;
    }

    @media (max-width: 375px) {
      padding: 10px;
      min-width: unset;
    }

    &::before {
      content: '';
      position: absolute;
      height: 50%;
      left: 0;
      top: 50%;
      background-color: rgba(170, 177, 197, 0.4);
      width: 2px;
      transform: translateY(-50%);
    }
  }
}

.f-p {
  position: absolute;
  top: calc(100% + 24px);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s ease-out;

  //@media (max-width: 992px) {
  //  top: calc(100% + 65px);
  //}

  @media (max-width: 767px) {
    top: calc(100% + 8px);
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
  }

  &.active {
    visibility: visible;
    overflow: auto;
    max-height: 1000px;
  }

  &__photoWrap {
    display: flex;
    max-width: 100%;
    overflow: auto;
  }

  &__results {
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
  }

  &__photos {
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
    min-height: 72px;
    padding: 12px 32px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      padding: 10px;
    }
  }

  &__wrapper {
  }
}

.f-pPhoto {
  &__item {
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    width: 48px;
    height: 48px;
    min-width: 48px;
    transition: all 0.3s;
    min-height: 48px;
    background-color: #155a9e;

    &.active {
      border: 3px solid #155a9e;
    }

    &:not(:last-child) {
      margin-right: 18px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.f-p-results {
  padding: 20px 32px;

  @media (max-width: 767px) {
    padding: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
    cursor: auto;

    svg,
    path {
      fill: rgba(3, 5, 61, 0.2);
    }
  }

  &__item {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    &.active {
      text-decoration: underline;
      text-decoration-color: #124f8c;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
  }
}

.f-i {
  background: #ffffff;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 0;
  width: 100%;
  position: absolute;
  top: calc(100% + 24px);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;

  @media (max-width: 767px) {
    top: calc(100% + 8px);
  }

  &.active {
    padding: 20px;
    overflow: auto;
    max-height: 10000px;
  }

  &__imageName {
    padding: 20px;
    word-wrap: anywhere;
  }

  &__wrapUploaded {
    border: 2px dashed rgba(170, 177, 197, 0.4);
    min-height: 400px;
  }

  &__uploaded {
    padding: 38px 50px;
    max-width: 100%;
    display: block;
    margin: auto;
    height: 500px;
    max-height: 500px;

    @media (max-width: 1200px) {
      height: unset;
    }

    @media (max-width: 767px) {
      padding: 10px;
    }
  }

  &__btnWrap {
    text-align: center;
  }

  &__searchBtn {
    margin-bottom: 20px;
  }

  &__uploadBox {
    border: 2px dashed rgba(170, 177, 197, 0.4);
    min-height: 400px;
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    color: #96a0b5;
  }

  &__types {
    margin-top: 18px;
    color: #96a0b5;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
}

.f-date {
  position: absolute;
  background-color: #fff;
  //right: 20px;
  top: calc(100% + 24px);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  right: 0;

  @media (max-width: 767px) {
    top: calc(100% + 8px);
  }

  &.active {
    max-height: 10000px;
    overflow: auto;
  }
}

.datePicker {
  display: flex;
  align-items: center;

  &__name {
    font-size: inherit;
    color: var(--grey-secondary);
    margin-right: 50px;

    @media (max-width: 767px) {
      margin-right: 20px;
    }

    @media (max-width: 576px) {
      margin-right: 10px;
    }
  }
}
