.root {

  @media (max-width: 724px) {
    font-size: 12px;
  }
}

.title {
  text-align: left;
  font-weight: 600;
  font-size: 2em;
  margin: 20px 0;


  @media (max-width: 724px) {
    margin-top: 0;
  }
}

.year {
  font-weight: 600;
  font-size: 1.4em;
  color: #000;
  text-align: left;
}

.video {
}

.videoWrapper {
  overflow: hidden;
  border-radius: 24px;

  @media (max-width: 724px) {
    border-radius: 12px;
  }
}

.videoPlayer {
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;


  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  @media (max-width: 724px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

}
