.categories {

}

.categories-photo-item {
  text-align: left;

  &__info {
    cursor: pointer;
    color: #fff;
    position: absolute;
    bottom: 24px;
    left: 32px;
  }

  &__tag {
    font-weight: 600;
    font-size: 26px;
  }

  &__text {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;

    span {
      padding: 4px 8px;
      background: rgba(255, 255, 255, 0.16);
      border-radius: 6px;
    }
  }
}
