.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  min-height: 80px;
  background: #ffffff;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.03);

  @media (max-width: 1200px) {
    min-height: 60px;
    max-height: 60px;
    padding: 5px 20px;
  }

  &__logo {
    @media (max-width: 992px) {
      width: 78.1px;
      height: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__avatar {
  }
}
