.photos {
  margin-top: 80px;
  background-color: #fff;
  flex: 1;
  padding: 0 70px 40px;

  @media (max-width: 1200px) {
    padding: 0 30px 40px;
  }

  @media (max-width: 767px) {
    padding: 0 10px 40px;
  }

  &__searchPhotos {
    display: flex;
    justify-content: center;
  }

  &__pagination {
    margin-top: 20px;
    max-height: 100px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__btn {
    padding: 5px 10px;
    background-color: var(--black-main);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;

    &.active {
      background-color: var(--grey-secondary);
      color: #000;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.photosMain-found {
  &__masonry {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.photosMain {
  text-align: center;

  @media (max-width: 767px) {
    text-align: left;
    padding: 0 20px;
  }

  @media (max-width: 576px) {
    margin-top: 50px;
    padding: 0;
  }

  &__masonry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

    //column-count: 4;
    //column-width: 300px;

    * {
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }

  &__date {
    color: #96a0b5;
    margin-bottom: 40px;
    font-size: 22px;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__title {
    color: var(--black-main);
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;

    @media (max-width: 1200px) {
      font-size: 24px;
    }

    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 0;
    }
  }

  &__photos {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (max-width: 1200px) {
      justify-content: center;
    }
  }
}

.photosMain-photo {
  &__tagWrapper {
    z-index: 1;
    margin: 20px 0;
    position: sticky;
    top: 0;
    text-align: left;
    left: 50%;
  }

  &__tag {
    color: var(--black-main);
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;

    display: inline-block;

    border-radius: 0 0 10px 10px;

    span {
      display: inline-block;
      color: var(--grey-secondary);
    }

    padding: 5px 20px;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;

  @media (max-width: 992px) {
    margin-left: -10px; /* gutter size offset */
  }
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
  @media (max-width: 992px) {
    padding-left: 10px;
  }
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  //background: grey;
  margin-bottom: 20px;
  @media (max-width: 992px) {
    margin-bottom: 10px;
  }
}
