.photos {
  margin-top: 80px;
  background-color: #fff;
  flex: 1;
  padding: 0 70px 40px;

  @media (max-width: 1200px) {
    padding: 0 30px 40px;
  }

  @media (max-width: 767px) {
    padding: 0 10px 40px;
  }

  &__searchPhotos {
    display: flex;
    justify-content: center;
  }

  &__pagination {
    margin-top: 20px;
    max-height: 100px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__btn {
    padding: 5px 10px;
    background-color: var(--black-main);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;

    &.active {
      background-color: var(--grey-secondary);
      color: #000;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.photosMain {
  text-align: center;

  @media (max-width: 767px) {
    text-align: left;
    padding: 0 20px;
  }

  &__date {
    color: #96A0B5;
    margin-bottom: 40px;
    font-size: 22px;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__title {
    color: var(--black-main);
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;

    @media (max-width: 1200px) {
      font-size: 24px;
    }

    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 0;
    }
  }

  &__photos {
    display: grid;
    align-items: flex-start;
    grid-column-gap: 24px;
    grid-row-gap: 42px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 330px));
  }
}