.p-details {
  background-color: #fff;
  flex: 1;
  text-align: center;
  padding: 50px 70px 40px;

  @media (max-width: 1200px) {
    padding: 35px 30px 40px;
  }

  @media (max-width: 767px) {
    padding: 20px 10px 40px;
  }

  &__goBack {
    font-weight: 500;
    padding: 10px 10px 10px 40px;
    font-size: 20px;
    color: #c9c7d9;
    position: relative;
  }

  &__arrow {
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    left: 10px;
    position: absolute;

    path {
      fill: #c9c7d9;
    }
  }

  &__top {
    min-height: 80px;
  }

  &__wrapper {
    max-width: 1624px;
    margin: auto;
  }

  &__tags {
    padding: 0 10px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1200px) {
      font-size: 30px;
    }

    @media (max-width: 992px) {
      font-size: 26px;
    }

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__date {
    color: var(--grey-light);
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 22px;
  }

  &__btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    border-radius: 8px;
    padding: 12px 32px;
    font-weight: 600;
    font-size: 20px;

    background: rgba(219, 236, 248, 0.3);
    color: var(--black-main);

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background: rgba(219, 236, 248, 0.4);
    }
  }

  &__imgWrapper {
    position: relative;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;

    @media (max-width: 767px) {
      padding: 0 10px;
    }

    @media (max-width: 576px) {
      padding: 0;
    }
  }

  &__btnScale {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #f2f1f5;
    backdrop-filter: blur(4px);
    padding: 7px;
    border-radius: 8px;

    &.plus {
      bottom: 50px;
    }
  }

  &__scaleValue {
    z-index: 2;
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #f2f1f5;
    backdrop-filter: blur(4px);
    padding: 7px;
    border-radius: 8px;
    bottom: 100px;
  }

  &__imgWrapper {
    position: relative;
    height: 100%;
  }

  &__img {
    margin: auto;
    position: relative;
    max-width: 100%;
    overflow: hidden;

    @media (max-width: 767px) {
      padding-bottom: unset;
    }

    img {
      //position: absolute;
      //transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      //top: 50%;
      //left: 50%;

      @media (max-width: 767px) {
        position: unset;
        transform: unset;
      }
    }
  }
}

.p-slider {
  &__btn {
    z-index: 2;
    padding: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #f2f1f5;
    border-radius: 8px;
    @media (max-width: 767px) {
      padding: 5px;
    }
    @media (max-width: 576px) {
      padding: 1px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__next {
    right: -120px;

    @media (max-width: 1500px) {
      right: -50px;
    }

    @media (max-width: 1200px) {
      right: -10px;
    }
    @media (max-width: 767px) {
      right: 0;
    }

    svg {
      transform: rotate(-90deg);
    }
  }

  &__prev {
    left: -120px;
    @media (max-width: 1500px) {
      left: -50px;
    }

    @media (max-width: 1200px) {
      left: -10px;
    }
    @media (max-width: 767px) {
      left: 0;
    }

    svg {
      transform: rotate(90deg);
    }
  }
}

.photo-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 200px;
  margin: auto;

  &__dot {
    all: unset;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    //width: 10px;
    //height: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--grey-light);
    transition: all 0.3s;

    &.active {
      background-color: var(--black-main);
    }
  }
}
