.socials {
  position: absolute;
  top: 0;
  right: 0;

  a {
    width: 30px;
    height: 30px;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 5px;
    }

    @media (max-width: 767px) {
      font-size: 20px;
      padding: 0 10px;
      text-align: center;
    }

    transition: all .3s;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      max-height: 100%;
      max-width: 100%;
    }
  }

}

.skeleton {
  background-repeat: no-repeat;
  background-image:
          /* layer 2: avatar */
          /* white circle with 16px radius */
          radial-gradient(circle 16px, white 99%, transparent 0),
            /* layer 1: title */
            /* white rectangle with 40px height */
          linear-gradient(white 40px, transparent 0),
            /* layer 0: card bg */
            /* gray rectangle that covers whole element */
          linear-gradient(gray 100%, transparent 0);
  position: relative;
  min-height: 300px;
  width: 500px;
  max-width: 100%;

  &::before {
    content: "''";
    position: absolute;
  }
}

.img {

  &__hidden {
    display: none;
  }
}
