.photoElement {
  position: relative;
  width: 420px;
  height: 260px;
  border-radius: 24px;
  cursor: pointer;

  &__title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 26px;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}