.photoElement {
  padding: 10px;
  //width: 100%;
  position: relative;

  @media (max-width: 992px) {
    border-radius: 12px;
    padding: 8px 0 0;
  }

  @media (max-width: 767px) {
    border-radius: 6px;
    padding: 4px 0 0;
  }

  img {
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;

    width: 100%;
  }

  //&__img {
  //  //display: flex;
  //  //justify-content: center;
  //  margin-bottom: -2px;
  //}

  &__title {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    text-overflow: ellipsis;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
      font-size: 23px;
    }

    @media (max-width: 767px) {
      font-size: 20px ;
      padding: 0 10px;
      text-align: center;
    }

    @media (max-width: 576px) {
      font-size: 18px;
    }
  }
}
