.photoElement {
  position: relative;
  width: 420px;
  height: 260px;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
  background-color: #ccc;

  &__title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 26px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-overflow: ellipsis;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}