:root {
  --grey-secondary: #AAB1C5;
  --black-main: #03053D;
  --grey-light: #96A0B5;
}

.scrollbar {
  &::-webkit-scrollbar {
    cursor: pointer;
    width: 1em;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.error {
  color: red;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    cursor: pointer;
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

p, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  list-style: none;
}
li {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .3s ease-out;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;

  &:focus { outline: none; }
}

span {
  display: block;
}

input {
  border: none;
  display: block;
  width: 100%;
  &:focus { outline: none; }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  display: block;
  cursor: pointer;
}

.scroll-locked {
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: Gilroy, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
